//
   Created by applepham on 2014-12-13.
doctype html
html
  head
    title Sails Example
    // STYLES
    link(rel="stylesheet", href="/styles/bootstrap/bootstrap-theme.css")
    link(rel="stylesheet", href="/styles/bootstrap/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/styles/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/styles/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
    block styles
  body
    block body

    block script
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/bootstrap/bootstrap.js")
    script(src="/js/dependencies/bootstrap/bootstrap.min.js")
    script(src="/js/dependencies/bootstrap/npm.js")
    // SCRIPTS END
